button{
    cursor:pointer;
}
input{
    cursor:auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(211, 209, 209);
}

.Login-Signin-page{
    display:flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
}

.Login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(252, 250, 250);
    width: 350px;
    height: 420px;
    border-radius: 20px;
    /* background-color: green; */
    animation-name: login-color;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.Login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-back-title{
    font-size:24px;
    margin:15px;
}

.login-title {
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}

.login-email-block , .login-password-block{
    position:relative;
    margin:10px;
}

.login-email, .login-password {
    padding: 10px 5px;
    width: 15rem;
    border: none; /* Add a border */
    border-radius: 10px;
    padding:12px 8px;
    font-size:16px;
    background-color: rgb(224, 224, 224);
}

.login-button-block{
    width: 16rem;
}
.login-button{
    font-weight: bold;
    font-size:16px;
    color:white;
    width:100%;
    border:none;
    border-radius:5px;
    height:2.6rem;
    padding:10px;
    background-color:green;
    cursor:pointer;
}

.login-button:active{
    transform: scale(0.9);
    transition-duration: 0.2s;
}

.login-email:focus, .login-password:focus {
    border:none;
}

.login-email-placeholder , .login-password-placeholder{
    position: absolute;
    color: grey; 
    pointer-events: none; 
    left:8px;
    top:10px;
    transition: all 0.3s;
}

.login-email-placeholder-have{
    top:-18px;
    color: black;
}

.login-password-placeholder-have{
    top:-18px;
    color: black;
}

.signup-name-placeholder-have{
    top:-18px;
    color: black;
}
.signup-email-placeholder-have{
    top:-18px;
    color: black;
}
.signup-password-placeholder-have{
    top:-18px;
    color: black;
}
.signup-confirm-password-placeholder-have{
    top:-18px;
    color: black;
}

.login-email:focus + .login-email-placeholder{
    top:-18px;
    color: black;
}

.login-password:focus + .login-password-placeholder{
    top:-18px;
    color:black;
}

.forget-password{
    display:flex;
    justify-content: end;
    margin:5px;
    width:16rem;
}

.forget-password-button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.create-a-new-account{
    margin:10px;
}

.register{
    color:rgb(96, 96, 233);
    cursor:pointer;
    padding:0px;
    border:none;
    background-color: transparent;
}


.Signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(252, 250, 250);
    width: 350px;
    height: 420px;
    border-radius: 20px;
    animation-name: signup-color;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.Sign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-title {
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}

.signup-name-block, .signup-email-block , .signup-password-block, .signup-confirm-password-block{
    position:relative;
    margin:10px;
}

.signup-name, .signup-email, .signup-password, .signup-confirm-password {
    padding: 10px 5px;
    width: 15rem;
    border: none; /* Add a border */
    border-radius: 10px;
    padding:12px 8px;
    font-size:16px;
    background-color: rgb(224, 224, 224);
}

.signup-button-block{
    width: 16rem;
}
.signup-button{
    font-size: 16px;
    font-weight: bold;
    color:white;
    width:100%;
    border:none;
    border-radius:5px;
    height:2.6rem;
    padding:10px;
    background-color:green;
    cursor:pointer;
}

.signup-button:active{
    transform: scale(0.9);
    transition-duration: 0.2s;
}

.signup-email:focus, .signup-password:focus {
    border:none;
}

.signup-name-placeholder, .signup-email-placeholder , .signup-password-placeholder, .signup-confirm-password-placeholder{
    position: absolute;
    color: grey; 
    pointer-events: none; 
    left:8px;
    top:10px;
    transition: all 0.3s;
}

.signup-name:focus + .signup-name-placeholder{
    top:-18px;
    color: black;
}

.signup-email:focus + .signup-email-placeholder{
    top:-18px;
    color: black;
}

.js-password-message{
    font-size: 14px;
}

.signup-password:focus + .signup-password-placeholder{
    top:-18px;
    color:black;
}

.signup-confirm-password:focus + .signup-confirm-password-placeholder{
    top:-18px;
    color:black;
}
.login-account{
    margin:10px;
}

.login{
    color:rgb(96, 96, 233);
    cursor:pointer;
    padding:0px;
    border:none;
    background-color: transparent;
}

@keyframes LOGIN-color{
    0%{
        background-color: white;
        transform: translateX(100%);
    }
    100%{
        background-color: green;
    }
}

@keyframes SIGNUP-color{
    0%{
        background-color: white;
        transform: translateX(-100%);
    }
    100%{
        background-color: green;
    }
}

@keyframes login-color{
    0%{
        background-color: green;
        transform: translateX(100%);

    }
    100%{
        background-color:white;
    }
}

@keyframes signup-color{
    0%{
        background-color: green;
        transform: translateX(-100%);

    }
    100%{
        background-color:white;
    }
}

.LOGIN-PAGE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 420px;
    border-radius: 20px;
    animation-name: LOGIN-color;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    /* transform: translateX(100%); */
}

.WELCOME-BACK-TITLE{
    font-size:24px;
    margin:15px;
    color:white;
}

.PARAGRAPH{
    width:250px;
    text-align: center;
    color:white;
}

.LOGIN-BUTTON{
    padding:15px 35px;
    border-color:rgb(216, 216, 216);
    border-style:solid;
    border-radius:20px;
    margin:20px;
    color:white;
    background-color: transparent;
    cursor:pointer;
}


.SIGNUP-PAGE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 420px;
    border-radius: 20px;
    transform-origin: right;
    /* background-color: green; */
    animation-name: SIGNUP-color;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.WELCOME-BACK-TITLE{
    font-size:24px;
    margin:15px;
    color:white;
}

.PARAGRAPH{
    width:250px;
    text-align: center;
    color:white;
}

.SIGNUP-BUTTON{
    padding:15px 35px;
    border-color:rgb(216, 216, 216);
    border-style:solid;
    border-radius:20px;
    margin:20px;
    color:white;
    background-color: transparent;
    cursor:pointer;
}